@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;
$MainGrey: #6C6C6C;
$LightGrey: lightGrey;

.AnswersCandidate {
  border: solid 1px $MainBlue;

  p {
    font-size: 18px;
    color: $MainOrange;
  }

  .question {
    color: $MainBlue
  }
  .answer {
    color: $MainGrey
  }
}