@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$SecondaryBlue: #52A5B8;
$MainOrange:#F49754;
$White: #FFF;

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFF;
  background-color: $MainBlue;

  @include media-breakpoint-down(sm) {


  }

  @include media-breakpoint-down(xs) {



  }

  a {
    color: white;
  }

  .copyright {
    font-size: 12px;
  }

}