.Header .logo {
  width: 50px;
  height: auto;
}

.navbar-custom {
  background-color: #FFF !important;
}

/* Tile site*/
.navbar-custom .navbar-brand h2 {
  font-weight: 600;
  color: #F49754 !important;
}

/* Center text menu burger*/
.navbar-custom .navbar-collapse {
  text-align: center;
}

/* Separator navbar*/
.divider-vertical {
  height: 25px;
  margin: 5px 5px;
  border-right: 1px solid #64C4D9;
}

.navbar-custom {
  box-shadow: 2px 0 5px #aaa;
}

/* Link color */
.navbar-custom .navbar-nav .nav-link {
  color: #64C4D9;
  font-weight: 600;
}

/* Color of active or hovered links */
.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: #52A5B8;
}

.navbar-custom .nav-item:hover .nav-link {
  color: #F49754;
}

/* Dropdown */
.navbar-custom .dropleft:hover>.dropdown-menu {
  display: block;
}

.navbar-custom .btn {
  font-weight: 600;
  color: #FFF;
  background-color: #F49754 !important;
}

.navbar-custom .btnMenuBurger:hover {
  color: #F49754;
  border-color: #F49754;
  background-color: #FFF !important;
}

.navbar-custom .dropdown-menu {
  background-color: #FFF;
}

.navbar-custom .dropdown-item {
  font-weight: 600;
  color: #F49754;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  color: #FFF;
  background-color: #F49754;
}

/* MEDIA QUERIES */

/* If the screen size is 601px wide or more */
@media screen and (min-width: 901px) {
  .navbar-brand h2 {
    font-size: 30px;
  }
}

/* If the screen size is 900px wide or less */
@media screen and (max-width: 900px) {
  .navbar-brand h2 {
    font-size: 25px;
  }
}

/* If the screen size is 500px wide or less */
@media screen and (max-width: 500px) {
  .navbar-brand h2 {
    font-size: 20px;
  }
}

/* If the screen size is 350px wide or less */
@media screen and (max-width: 350px) {
  .navbar-brand h2 {
    font-size: 15px;
  }
}