@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;


.Home {
  .Home_intro {

    h4,
    h5 {
      color: $MainBlue;
    }


    h4{
      line-height: 1.5;
    }

    .infoOrange{
      color:$MainOrange;
    }

    .verbe{
      font-size: 40px;
      font-weight: 900;
    }


    h6 {
      color: $MainOrange;
    }

    .ni {
      font-weight: 700;
    }
  }

  hr {
    margin-top: 0
  }

  // #anchorOffer {
  //   display: block;
  //   position: relative;
  //   padding-top: 5%;
  // }


  .icone_CV,
  .icone_LM,
  .icone_ALGO {
    width: 80px;

    @include media-breakpoint-down(md) {
      width: 45px;
    }

    @include media-breakpoint-down(sm) {
      width: 30px;
    }

    @include media-breakpoint-down(xs) {
      width: 25px;
    }
  }
}