@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;


.Home {
  position: relative;

  .Home_intro {
    h4,
    h5 {
      color: $MainBlue;
    }

    h6 {
      color: $MainOrange;
    }
  }

  hr {
    margin-top: 0
  }


  .icone_CV,
  .icone_LM,
  .icone_ALGO {
    width: 80px;

    @include media-breakpoint-down(md) {
      width: 45px;
    }

    @include media-breakpoint-down(sm) {
      width: 30px;
    }

    @include media-breakpoint-down(xs) {
      width: 25px;
    }
  }
}

// Modal
.backgroundModal {
  z-index: 1;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

.modal-actived {
  display: block;
}

.modal-desactived {
  display: none;
}

.modalDIY {
  z-index: 2;
  opacity: 1;
  background: white;
  border-radius: 4px;
  box-shadow: 5px 5px 10px;
}