@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;


.Home {
  .Home_intro {

    .textIntro {
      color: $MainBlue;

      h4 {
        line-height: 1.5;

        @include media-breakpoint-down(md) {
          font-size: 20px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 14px;

        }

        @include media-breakpoint-down(xs) {
          font-size: 14px;
        }
      }


    }

    .textAccroche {
      color: $MainOrange;


      h4 {
        @include media-breakpoint-down(md) {
          font-size: 24px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 16px;

        }

        @include media-breakpoint-down(xs) {
          font-size: 14px;
        }
      }

      .verbe {
        font-size: 40px;
        font-weight: 900;
        @include media-breakpoint-down(md) {
          font-size: 30px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 24px;

        }

        @include media-breakpoint-down(xs) {
          font-size: 20px;
        }
      }
    }




    h6 {
      color: $MainOrange;
    }

    .ni {
      font-weight: 700;
    }
  }

  hr {
    margin-top: 0
  }

  .icone_CV,
  .icone_LM,
  .icone_ALGO {
    width: 80px;

    @include media-breakpoint-down(md) {
      width: 45px;
    }

    @include media-breakpoint-down(sm) {
      width: 30px;
    }

    @include media-breakpoint-down(xs) {
      width: 25px;
    }
  }
}