$MainBlue:#64C4D9;
$MainOrange:#F49754;

.backgroundModal {
  z-index: 3;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);

  h3 {
    color: $MainBlue;
  }

  a {
    color: $MainBlue;
    font-size: 0.85em;
  }

  input {
    width: 90%;
    padding: 10px;
    border: 1px solid$MainBlue;
    border-radius: 3px;

    &::placeholder {
      font-size: 0.85em;
    }
  }

  .modal-actived {
    display: block;
  }

  .modal-desactived {
    display: none;
  }

  .modalDIY {
    z-index: 2;
    opacity: 1;
    background: white;
    border-radius: 4px;
    box-shadow: 5px 5px 10px;
  }
}