.NewOfferForm input,
.NewOfferForm textarea {
    border: 1px solid #64C4D9;
    border-radius: 3px;
}

.NewOfferForm_field_title,
.NewOfferForm_field_place {
    width: 100%;
}

.NewOfferForm_field_description {
    width: 100%;
    height: 50vh;
    resize: none;
}

.NewOfferForm_field_online {
    width: 18px;
    height: 18px;
}

.NewOfferForm label {
    color: #64C4D9;
    margin: 10px;
}