@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;
$MainGrey: #6C6C6C;
$LightGrey: lightGrey;

.NewOfferForm {
    h2 {
        color: $MainOrange;
        font-weight: 600;
    }

    .linkBack {
        font-size: 18px;
        color: $MainOrange;
    }

    label {
        font-size: large;
        font-weight: bold;
        color: $MainBlue;
        margin: 10px;
    }

    .NewOfferForm_field_contactType {
        select {
            /* Arrow */
            background-image: url("../../images/icons/iconDoubleArrow.png");
            background-size: 15px;
            background-position: right 5px top 50%;
            background-repeat: no-repeat;
            background-color: #FFF;
            /**/
            color: $MainGrey;
            height: 45px;
            width: 30%;
            border: 1px solid $MainBlue;
            font-size: 12px;
            border-radius: 3px;
            appearance: none;
            cursor: pointer;
            padding: 10px;

            &:focus {
                outline-style: none;
            }
        }
    }

    input {
        font-size: 12px;
        border: 1px solid$MainBlue;
        border-radius: 3px;
        width: 100%;
        resize: none;
        padding: 10px;

        &:focus {
            outline-style: none;
            color: $MainGrey;
        }
    }
}

.NewOfferForm_field_title,
.NewOfferForm_field_place,
.NewOfferForm_field_description {
    width: 100%;
}

.NewOfferForm_field_online {
    width: 18px;
    height: 18px;
}