@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;
$MainGrey: #6C6C6C;
$LightGrey: lightGrey;

.NewOfferForm {
    h2 {
        color: $MainOrange;
        font-weight: 600;
    }

    .linkBack {
        font-size: 18px;
        color: $MainOrange;
    }

    label {
        font-size: large;
        font-weight: bold;
        color: $MainBlue;
        margin: 10px;
    }

    input,
    textarea {
        border: 1px solid$MainBlue;
        border-radius: 3px;
        width: 100%;
        resize: none;
        padding: 10px;

        &:focus {
            outline-style: none;
            color: $MainGrey;
        }
    }
}

.NewOfferForm_field_title,
.NewOfferForm_field_place,
.NewOfferForm_field_description {
    width: 100%;
}

.NewOfferForm_field_description {
    height: 50vh;
    resize: none;
}

.NewOfferForm_field_online {
    width: 18px;
    height: 18px;
}