@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;
$MainGrey: #6C6C6C;
$LightGrey: lightGrey;

.NewPassword {
  input {
    width: 220px;
    height: 30px;
    border: 1px solid$MainBlue;
    border-radius: 3px;

    &::placeholder {
      color: $MainGrey;
      padding: 3px;
      font-size: 14px;
    }
  }

  .msgErreurMdp {
    font-size: 12px;
    font-weight: 900;
    color: $MainOrange;
  }


}