@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$SecondaryBlue: #52A5B8;
$MainOrange:#F49754;
$White: #FFF;

.NewOfferQuestions {
    h5{
        color: $MainBlue;
    }
}