@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;
$MainGrey: #6C6C6C;
$LightGrey: lightGrey;

.Offer {
  border-radius: 2px;
  box-shadow: 0 2px 5px #aaa;

  h6 {
    color: $MainBlue;
  }

  .nameCompany{
    color:$MainGrey;
  }

  .textFavoris {
    color: $MainOrange
  }

  .offerResume {
    border-color: solid 1px red;
    color:$MainGrey;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .descriptionCompleteOffer{
    color:$MainGrey;
    font-size: 14px;
  }

  .infoConnexionPostuler{
    color:$MainGrey;
    font-size: 12px;
  }

  .iconStar {
    width: 18px;

  }

  .iconArrow {
    width: 20px;
  }

  .logoCompany {
    width: 50px;

    @include media-breakpoint-down(md) {
      width: 45px;
    }

    @include media-breakpoint-down(sm) {
      width: 35px;
    }

    @include media-breakpoint-down(xs) {
      width: 30px;
    }
  }



}