$MainBlue:#64C4D9;
$MainOrange:#F49754;


.OrangeButton {
    font-weight: bold;
    background-color: $MainOrange;
    color: #FFF;
    border: solid 1px $MainOrange;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    transition: 0.25s;

    &:hover {
        background-color: #FFF;
        color: $MainOrange;
        border: solid 1px $MainOrange;
    }

    &:focus {
        outline: none;
    }
}