@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;
$MainGrey: #6C6C6C;
$LightGrey: lightGrey;

.SearchOffer {
  background-color: $MainBlue;

  h2,
  h5 {
    color: #FFF;

    @include media-breakpoint-down(md) {
      font-size: 26px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 22px;

    }

    @include media-breakpoint-down(xs) {
      font-size: 22px;
    }
  }

  input {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid$MainBlue;
    border-radius: 3px;

    &::placeholder {
      font-size: 12px;
    }

    &:focus {
      outline-style: none;
    }
  }

  .customeSelect {
    select {
      /* Arrow */
      background-image: url("../../images/icons/iconDoubleArrow.png");
      background-size: 15px;
      background-position: right 5px top 50%;
      background-repeat: no-repeat;
      /**/
      color:$MainGrey;
      height: 45px;
      width: 90%;
      border: 1px solid $MainBlue;
      font-size: 12px;
      border-radius: 3px;
      appearance: none;
      cursor: pointer;
      padding: 10px;

      &:focus {
        outline-style: none;
      }
    }
  }


}