@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;

.SearchOffer {
  background-color: $MainBlue;

  h2,
  h5 {
    color: #FFF;
    @include media-breakpoint-down(md) {
      font-size: 26px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 22px;

    }

    @include media-breakpoint-down(xs) {
      font-size: 22px;
    }
  }

  input {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid$MainBlue;
    border-radius: 3px;

    &::placeholder {
      font-size: 0.85em;
    }
  }

  select {
    height: 40px;
    margin: 5px;
    border: 1px solid$MainBlue;
  }
}