@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$MainBlue:#64C4D9;
$MainOrange:#F49754;
$MainGrey: #6C6C6C;
$LightGrey: #D3D3D3;
$VeryLightGrey: #EDEDED;
$LightOrange:#F7EEE3;

.WhyPage {

  h2,
  h6 {
    // text-align: justify;
    color: $MainBlue
  }

  h2 {
    font-weight: bold;
  }

  h6 {
    font-weight: 900;
  }

  h2 {
    @include media-breakpoint-down(md) {
      font-size: 28px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 22px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 22px;
    }
  }

  h4 {
    color:$MainOrange;
    border-top: solid 1px $MainOrange;
    border-bottom: solid 1px $MainOrange;
    padding: 15px;
    @include media-breakpoint-down(md) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;

    }

    @include media-breakpoint-down(xs) {
      font-size: 16px;
    }
  }
  h6 {
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;

    }

    @include media-breakpoint-down(xs) {
      font-size: 14px;
    }
  }


  p {
    // text-align: justify;
    color: $MainGrey;
    font-size: 14px;

    @include media-breakpoint-down(sm) {
      font-size: 12px;

    }

    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }
  }
}