$MainBlue:#64C4D9;
$MainOrange:#F49754;
$MainGrey: #6C6C6C;
$LightGrey: #D3D3D3;
$VeryLightGrey: #EDEDED;
$LightOrange:#F7EEE3;

.WhyPage {

  h2,
  h4,
  h6 {
    // text-align: justify;
    color: $MainBlue
  }

  h2,
  h4 {
    font-weight: bold;
  }

  h6 {
    font-weight: 900;
  }

  p {
    // text-align: justify;
    color: $MainGrey;
    font-size: 14px;
  }
}