.NewOfferForm .postNewOfferForm{
    display: flex;
    flex-flow: column nowrap;
}

.NewOfferForm fieldset {
    border: none;
}

.NewOfferForm label {
    color: #64C4D9;
    margin: 10px;
}

.NewOfferForm input, .NewOfferForm textarea {
    border : 1px solid #64C4D9;
    border-radius: 3px;
}
