.NewQuestion button {
    background-color: #6C6C6C;
    border: none;
    border-radius: 200px;
    color: white;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}