.OrangeButton {
    background-color: #F49754;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}